h1 {
    color: #42141e;
    text-align: center;
    margin-bottom: 15px; 
    font-size: 40px;
}
h2{
    text-align: center;
    font-size: 22px;
    color: #42141e;
    margin-top: 40px;
}

body{
    background-color: #f0e0e4;
}

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: rgb(99, 33, 50);
    color: #ffffff;
    padding: 15px 30px; 
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    font-size: 16px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}

button:hover {
    background-color: #430707; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #42141e;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px; 
}
.btn {
    background-color: rgb(99, 33, 50);
    font-size: 12px;
    text-align: center;
    width: 80px; /* Adjust width */
    height: 20px; /* Adjust height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto;
}
.col-auto{
    text-align: center;
    font-size: 25px;
    position: relative;
    margin-top: 20px;
    transform: translateY(50%); 
    line-height: 1;
}

.form-control{
    font-size: 15px;
    text-align: center;
}

.intro{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    padding: 0 50px;
    margin-top: 40px;
}


.content {
    text-align: center;
    padding: 0 35px;
    line-height: 1.5;
    font-size: 18;
}

.alert{
    text-align: center;
    margin-top: 20px;
}



