{% extends "base.html" %}
{% block content%}
    <h2>JOANNA JARCO</h2>
    <p class="intro">Hi, I am a student of Cracow's University of Economics. My field is called Applied Informatitcs and this is my 
        project for computer programming class. I am 20 years old and currently on my first year of the study.
        In my free time I really enjoy going to the gym and meeting with my friends. I watch a lot of movies and shows.
        My favourite one's are "The Notebook" and "Brooklyn-99".
    </p>
{% endblock %}