<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <title>Ceneo.pl Web Scraper</title>
    </head>
    <body>
        <header>
            <h1>Ceneo.pl Web Scraper</h1>
            <div class="buttons">
                <button onclick="location.href='/extract'">Extract file</button>
                <button onclick="location.href='/author'">Author file</button>
                <button onclick="location.href='/product/<product_id>'">Product file</button>
                <button onclick="location.href='/products'">Products file</button>
                <button onclick="location.href='/index'">Index file</button>
            </div>
        </header>
        <section>
            {% block content%}
                <p>This is base file</p>
            {% endblock %}
        </section>
        <footer>
            <p>Joanna Jarco, Kraków University of Economics</p>
        </footer>
    </body>
</html>