{% extends "base.html" %}
{% block content%}
    <h2>PURPOSE OF THE APPLICATION</h2>
        <p class="content">The main purpose of the application is to extract opinions about products from the Ceneo.pl
        website. For product, the code of which will be given as a parameter, its name and all
        available opinions about it should be extracted. </p>
    <h2>DESCRIPTION OF THE APPLICATION'S OPERATION</h2>
        <p class="content"> Using the extract page users can input a product code, and the application retrieves the corresponding product's name and all available opinions 
            about it from Ceneo.pl. Each opinion is parsed to extract various details including opinion ID, author, recommendation, score, 
            content, advantages, disadvantages, helpfulness ratings, publishing date, and purchase date.
            When the wrong product code is entered the error will pop up on the screen.
        </p>
    <h2>LIBRARIES USED</h2>
    <p class="content"> * APP</p>
    <p class="content"> * FLASK</p>
    <p class="content"> * BS4</p>
    <h2>APPLIED APPROACHES</h2>
        <p class="content"></p>
    
{% endblock %}